<!-- src/app/products/product-list.component.html -->
<mat-grid-list cols="4" rowHeight="350px" gutterSize="10px">
    <mat-grid-tile *ngFor="let product of dataSource">
        <mat-card class="product-card">
            <mat-card-header>
        <mat-card-title>
            {{ product.name }}
            <mat-icon>favorite_border</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.image" alt="{{ product.name }}" loading="lazy">
        <mat-card-content>
            <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>BUY</button>
            <button mat-button>DETAILS</button>
        </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    </mat-grid-list>