<mat-grid-list cols="4" rowHeight="350px" gutterSize="10px">
    <mat-grid-tile *ngFor="let product of products">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>
            {{ product.nome }}
          </mat-card-title>
          <button mat-icon-button class="favorite-button" aria-label="Favorite">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-subtitle>{{ product.preco | currency }}</mat-card-subtitle>
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.nome }}" loading="lazy" class="rounded-image">
        <mat-card-content>
          <p>{{ product.descricao }}</p>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <button mat-raised-button color="primary">DETALHES</button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
