table {
    width: 100%;
  }
  
  .mat-column-id,
  .mat-column-nome,
  .mat-column-email,
  .mat-column-tipo {
    padding: 16px;
  }
  .suppliers-list{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
      color: #333;
    }
  }